
@media (max-width: 850px) {
    body {
        width: 100%;
        padding: 14px;
    }

    .ferramentas {
        display: flex;
        width: 342px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .links, .links button {
        width: 100%;
    }

    .links button:hover{
        width: 100%;
    }   

    .links a {
        width: 100%;
    }
    
    .links button {
        margin: 0px !important;
        margin-bottom: 12px !important;
    }
}

@media (max-width: 500px) {
    body {
        justify-content: flex-start;
        padding: 13px;
}
